@media (max-width: 1440px) {
  .projects {
    margin-bottom: 20px;
  }
  #hero {
    margin-bottom: 100px;
  }
}
@media (max-width: 1362px) {
  .shadows {
    bottom: -140px;
  }
}
@media (max-width: 1262px) {
  #hero,
  #AboutMe,
  .contact {
    max-width: 95%;
  }
  #About br {
    display: none;
  }
}
@media (max-wdith: 1214px) {
  #skills {
    height: 300px;
  }
}
@media (max-width: 1134px) {
  #hero,
  #AboutMe,
  .contact {
    max-width: 95%;
  }
  form button {
    width: 40%;
  }

  #About {
    max-width: 65%;
    margin-left: 10px;

    h2 {
      font-size: 15px;
    }
    h4 {
      font-size: 35px;
    }
  }
}

@media (max-width: 1112px) {
  #hero h1 {
    font-size: 60px;
  }
}

@media (max-width: 1052px) {
  header h2 {
    padding: 4px 20px;
    font-size: 1.2em;
  }

  #hero {
    margin-top: 100px;
    /* display: block; */
    /* height: 100vh; */
    max-width: 95%;

    h1 {
      font-size: 45px;
    }

    img {
      height: 300px;
      width: 300px;
      text-align: center;
      margin: auto;
    }
  }
  #AboutMe {
    margin-top: 100px;
  }
  .whatido {
    margin-top: 10px;
  }
  .whatido-1 {
    /* margin-top: 10px; */
    gap: 10px;
    margin: 10px;
    max-width: 1200px;
  }
  .whatido-1 div {
    width: 50%;
    height: 78vh;
    margin: 10px auto;
  }
  .whatido-1 div img {
    width: 180px;
    margin: 10px auto;
  }

  .contact {
    flex-direction: column;
    width: 60%;
  }
}

@media (max-width: 937px) {
  #AboutMe {
    margin-top: 100px;
  }
}
@media (max-width: 906px) {
  #skills {
    width: 45%;
  }
  form {
    width: 100%;
  }
  form button {
    width: 30%;
  }
}

@media (max-width: 814px) {
  header h2 {
    padding: 7px 15px;
    font-size: 1em;
  }
  header nav {
    display: none;
  }
  header div a {
    display: none;
  }

  #menu-bar {
    display: block;
    cursor: pointer;
  }
  #menu-bar .menu-close {
    display: none;
  }
  #menu-bar.active .menu-open {
    display: none;
  }
  #menu-bar.active .menu-close {
    display: block;
  }

  .mobile-nav.active {
    display: block;
    position: fixed;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

    transform: translateX(0);
    /* opacity: 1; */
  }

  #hero {
    max-width: 95%;
    display: block;
  }
  #hero p {
    letter-spacing: 1px;
    opacity: 0.6;
  }
  #About {
    max-width: 100%;
  }

  #AboutMe {
    flex-direction: column-reverse;
    /* height: 100vh; */
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: visible;
  }
  br {
    display: block;
  }

  #skills {
    width: 80%;
  }

  .projects {
    top: 300px;
  }

  /* projects section */
  .all_project {
    width: 60%;
  }
  .each_project {
    width: 80%;
    margin-bottom: 150px;
  }

  .whatido-1 div {
    width: 80%;
    height: 4%;
    margin: 10px auto;
  }
  .whatido-1 div img {
    width: 200px;
    margin: 10px auto;
  }
  .contact {
    flex-direction: column;
    width: 90%;
  }
  form {
    width: 100%;
  }
  form button {
    width: 25%;
  }
}

@media (max-width: 786px) {
  #About {
    width: 95%;
  }
  #AboutMe {
    margin-bottom: 650px;
  }
  .projects {
    margin-bottom: 650px;
  }
}
@media (max-width: 617px) {
  form button {
    width: 30%;
  }
}
@media (max-width: 514px) {
  form button {
    width: 39%;
  }

  #About {
    width: 100%;
  }
  .projects {
    height: 0%;
  }
}

@media (max-width: 425px) {
  #hero {
    margin-top: -30px;
  }
 #AboutMe {
    margin-bottom: 50px;
  }
  .projects {
    margin-bottom: 50px;
  }

   .whatido {
    display: block;
    text-align: center;
    width: 100%;
  }
   .whatido-1 {
    text-align: center;

    display: block;
    width: 100%;
  }
}
