body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #060606;
  color: #eaeaea;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* For the navigation menu */
header {
  background: #060606;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  font-family: "Montserrat Alternates", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h2 {
  background: #00bfa6;
  color: black;
  padding: 7px 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-left: 20px;
}
header h2 a {
  text-decoration: none;
  color: black;
}
header i {
  color: #ffc107;
  font-size: 25px;
  margin-right: 20px;
}
header button {
  width: 150px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffc107;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
nav a {
  padding: 30px;
  text-decoration: none;
  color: white;
}
/* For the mobile nav */
#menu-bar {
  display: none;
}

.mobile-nav {
  font-family: "montserrat Alternates";
  background-color: #060606;
  /* background-color: red; */
  margin-top: -45px;
  position: fixed;
  z-index: 99;
  left: 10;
  right: 0;
  height: 330px;
  width: 60%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  li {
    margin: 20px;
    padding: 10px;
    list-style: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
.mobile-nav a i {
  margin-left: 30px;
  color: #ffc106;
  font-size: 30px;
}

/* for the main section */
main {
  max-width: 1400px;
  margin: auto;
}

/* Hero section */
#hero {
  text-align: center;
  max-width: 1300px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}
#hero div {
  text-align: justify;
}
#hero img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 100%;
  /* transform: rotate(-30deg); */
  margin-right: 60px;
}
#hero .ga {
  display: flex;
  margin: 20px 0;
  gap: 30px;
  font-family: "Montserrat Alternates", sans-serif;
}
#hero button {
  width: 150px;
  border: none;
  border-radius: 10px;
  background: #ffc107;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat Alternates", sans-serif;
}

#hero h1 {
  font-size: 75px;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 3px;
}
#hero span {
  color: #00bfa6;
}
#hero p {
  letter-spacing: 2px;
  opacity: 0.8;
}
/* About me section */
#AboutMe {
  max-width: 1300px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
#About {
  max-width: 60%;
}
#About h4 {
  font-size: 45px;
  margin: 0;
  letter-spacing: 3px;
}
#About h2 {
  margin: 10px 0px;
  font-size: 20px;
  opacity: 0.8;
  letter-spacing: 2px;
}
#About #name {
  color: #00bfa6;
  font-weight: bolder;
  font-family: "Inter", sans-serif;

  /* font-family: "Montserrat Alternates", sans-serif; */
}
#About #work {
  text-decoration: underline;
}

#About p {
  line-height: 200%;
  letter-spacing: 3px;
  opacity: 0.8;
}

#skills {
  text-align: center;
  border: 2px solid #ffbf00;
  background-color: #ffc107;
  border-radius: 50px;
  position: relative;
  /* height: 280px; */
  width: 30%;
}

#skills h2 {
  color: black;
}

#skills-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#skills-sec img {
  width: 40px;
  margin: 25px;
}

/* projects section */

.each_project {
  position: relative;
}
.projects {
  max-width: 1400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100px;
  height: 100vh;
}
.all_Projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.each_project {
  border-radius: 2px;
  padding: 20px;
  width: 33%;
  height: 390px;
  text-align: center;
  transition: 1s;
  font-family: "Inter", sans-serif;
}

.each_project img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 1;
}
.each_project:hover {
  transform: scale(1.06);

  .short-text {
    display: none;
  }
  .full-text {
    display: block;
  }
}
.shadows {
  position: absolute;
  bottom: -140px;
  text-align: left;
  transition: 1s;
  padding: 20px;
  background: linear-gradient(0deg, #000 4%, rgba(0, 0, 0, 0.02));
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
}
.shadows .tools {
  text-align: left;
  /* margin-left: -30px; */
}
.full-text {
  display: none;
}

#tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0px;
  gap: 20px;
}
button {
  color: black;
  border: none;
  background-color: #ffc107 !important;
  cursor: pointer;
  font-weight: 900;
}
.tech {
  background-color: rgb(29, 26, 26);
  padding: 7px;
  border-radius: 10px;
  font-size: 12px;
}

.whatido {
  text-align: center;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whatido-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.whatido-1 div {
  border: 1px solid #00bfa6;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 1px 1px 10px 1px #00bfa6; */
  transition: 0.5s;
}
.whatido-1 div:hover {
  /* transform: scale(1.05); */
  border: 4px solid #00bfa6;
}
.whatido-1 div img {
  width: 50%;
  display: block;
  margin: auto;
}

/* contact section */
.contact {
  max-width: 1300px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  align-items: center;
}
.contact div img {
  width: 40px;
  padding: 5px;
  border-radius: 10px;
}
.contact div {
  h1 {
    font-size: 40px;
    font-family: "Montserrat Alternates", sans-serif;
  }
  h3 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
  }
}
form input,
textarea {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form button {
  width: 30%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-weight: bolder;
  color: black;
}

footer {
  margin-top: 100px;
  border-top: 1px solid #00bfa6;
  text-align: center;
  font-family: "Montserrat Alternates";
}
